<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J2"/>
	</settings>

	<typeHandlers>
		<typeHandler handler="com.github.apz.springsample.mybatis.typehandler.ItemPublishTypeHandler"/>
		<typeHandler handler="com.github.apz.springsample.mybatis.typehandler.TrueOrFalseTypeHandler"/>
	</typeHandlers>

	<mappers>
		<mapper resource="repository/mapper.xml"/>
	</mappers>


</configuration>